body{
  background-color: -bg-main;
  color: var(--text-main);
}
.main{
  margin-top: 66px;
  min-height: calc(100vh - 66px);
}
a{
  color: var(--text-main);
  text-decoration: none;
}
h1, h2, h3{
  color:var(--text-muted)
}
