/* font import */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Hurricane&family=Russo+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.text-shadow-grey{
  text-shadow: 1px 1px 1px var(--text-main);
}
.text-shadow-primary {
  text-shadow: 1px 1px 1px var(--text-muted);
}

a:hover{
  color: inherit;
}
