<div class="gift-events">
	<%= link_to gift_wishlists_path(gift_id: @gift.id, event_id: @event.id,guest_id: @guest.id),
        class:"event-link badge bg-warning", data: {turbo_method: :post} do%>
		Offrir
	<% end %>
</div>
