<%= turbo_frame_tag event do %>
	<div class="card px-3 rounded-3 mb-3">
		<h1 class="text-shadow-primary"><%= event.name %></h1>
		<div class="event-count">
			<i class="fa-solid fa-people-group"></i>
			<%= event.participants.count %>
			<i class="fa-solid fa-calendar-days ms-1"></i>
			<%= l(event.date)%>
		</div>
	</div>
<% end %>
