<div class="gift-events">
	<% unless  current_user.events.empty? %>
		<% current_user.events.each do |event| %>
			<%= link_to event_path(event), class: 'event-link badge bg-warning' do%>
				<%= event.name %>
        Ajouter le kdo à la wishlist de l'événement
        <%= link_to gift_wishlists_path(gift_id: gift.id, event_id: event.id), data: {turbo_method: :post} do%>
          <i class="fa-solid fa-plus"></i>
        <% end %>
			<% end %>
		<% end %>
	<% end %>
</div>
