<%= turbo_frame_tag :content do %>
	<div class="main container d-flex flex-column justify-content-evenly justify-content-md-center pb-5 p-md-0">
		<h1 class='text-center'><%= I18n.t "gift.add_a_new_gift" %> </h1>
		<%= render 'form', gift: @gift,event: @event %>
	</div>
<% end %>
